/*---------*/
/* GENERAL */
/*---------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, button, ul {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: green;
    text-decoration: underline;
}

button {
    background-color: rgb(21, 21, 21);
    color: white;
    border: 3px solid green;
    padding-inline: 30px;
    padding-block: 10px;
    transition: all 0.4s ease;
    margin-block: 20px;
    margin-right: 1%;
}

button:hover {
    border: 3px solid rgb(0, 104, 0);
    background-color: rgb(70, 70, 70);
}

ul {
    margin-left: 40px;
}

/*------*/
/*Colors*/
/*------*/

red {
    color: red;
}

green {
    color: green;
}

orange {
    color: orange;
}

blue {
    color: blue;
}

/*-----------------------------*/
/* SIMPLE - top, bottom, midle */
/*-----------------------------*/

.top {
    width: 100%;
    height: 10vh;
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgb(41, 41, 41);
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bottom {
    width: 100%;
    height: 10vh;
    background-color: rgb(41, 41, 41);
    bottom: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.midle {
    background-color: black;
    height: 80vh;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.simp-con {
    margin-inline: 35%;
}

@media screen and (max-width: 1050px) {
    .simp-con {
        margin-inline: 0;
    }
}

/*------*/
/* MAIN */
/*------*/

.header {
    background-color: rgb(24, 24, 24);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 1% 5%;
}

.footer {
    background-color: rgb(24, 24, 24);
    color: white;
    bottom: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5vh;
}

.page {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.con {
    /* mint content / conatiner */
    margin: 5%;
    height: auto;
}

.space {
    height: 50px;
    width: auto;
}

.space-hor {
    width: 1000px;
    height: auto;
}

.line {
    background-color: /*rgb(182, 182, 182)*/ green;
    width: 100%;
    height: 0.5vh;
    margin-block: 10px;
}

/*-------------*/
/* MAIN-CUSTOM */
/*-------------*/

.footer-parts {
    display: flex;
    flex-direction: column;
    text-align: center; /* ezt majd ha több hasáb lesz leftre kell állítani, ez által simán egymás után lehet rakni a div hasábokat */
    justify-content: start;
    height: auto;
    width: 50vh;
}

.header-parts0 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-parts1 {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}

/*.header-parts2 {
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 50%;
    padding-right: 5%;
    padding-block: 1%;
}*/

.navbutton {
    margin-right: 30px;
    transition: all 0.3s ease;
    text-decoration: none;
}

.button-con {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: auto;
}

.navbutton:hover {
    color: rgb(105, 194, 105);
    text-decoration: underline solid 3px;
}

.pr-con {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

/*--------*/
/* CUSTOM */
/*--------*/

.home-text {
    width: 40%;
}

.welcome-page {
    height: 90vh;
    background-image: url('img/bgimg.jpg');
}

.pic-icon {
    max-height: 200px;
    max-width: 200px;
    height: auto;
    width: auto;
    margin: 20px;
}

.pic-icon2 {
    max-width: 100px;
    max-height: 100px;
    height: auto;
    width: auto;
    margin-right: 20px;
}

.pic-normal {
    margin: 20px;
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
}

.project-row-con {
    display: flex;
    flex-direction: row;
    justify-content: start  ;

}

.project-main-1 {
    width: 50%;
}

.project-main-2 {
    width: 50%;
}

.project-main-space {
    width: 30%;
}

.button-con2 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: auto;
}

.vis {
    display: flex;
}

.naba-icon {
    max-width: 70px;
    max-height: 70px;
}

.top-text {
    font-size: xx-large;
    color: green;
}

.topline {
    display: flex;
}

/*Cards*/

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(41, 41, 41);
    border: 7px green solid;
    border-radius: 7px;
    padding: 20px;
    text-align: left;
    width: 300px;
    height: 450px;
    margin-inline: 2%;
    transition: all 0.3s ease;
}

.card:hover {
    border: 7px rgb(66, 214, 66) solid;
}

.card-con {
    width: 250px;
}


/*---------*/
/* Gallery */
/*---------*/

.gallery-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    background-color: black;
}

.gallery {
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.gallery-image {
    display: none;
    width: 100%;
    height: auto;
    object-fit: contain;
}

.gallery-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.gallery-button:hover {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(26, 26, 26, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/*------------------*/
/* hamburger button */
/*------------------*/

.hamburger {
    display: none; /* Alapértelmezésben elrejtve */
    cursor: pointer;
    font-size: 24px;
}

.nav-menu {
    display: flex;
    justify-content: start;
    align-items: center;
}

/*--------------*/
/* media screen */
/*--------------*/

@media screen and (max-width: 1000px) {
    .home-text {
        width: 60%;
    }

    .pr-con {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    .project-main-space {
        width: 10%;
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        margin-block: 15px;
    }

    .card:hover {
        border: 7px rgb(66, 214, 66) solid;
    }
    

}

@media screen and (max-width: 576px) {
    .home-text {
        width: 90%;
    }

    .navbutton {
        margin-right: 10px;
    }

    button {
        margin-right: 2%;
    }

    .space-hor {
        width: 0;
        height: auto;
    }

    .project-row-con {
        display: flex;
        flex-direction: column;
        justify-content: start;
    
    }

    .project-main-1 {
        width: 100%;
    }
    
    .project-main-2 {
        width: 100%;
    }
    
    .project-main-space {
        width: 0;
        height: 50px;
    }

    .top-text {
        font-size: x-large;
        color: green;
    }

    .card {
        width: 95%;
    }

    .card-con {
        width: 98%;
    }

}

@media screen and (max-height: 700px) {
    .welcome-page {
        height: 110vh;
    }
}

@media (max-width: 768px) {

    /* hamburger button */
    .hamburger {
        display: block; /* Kisebb képernyőn megjelenítve */
    }

    .nav-menu {
        display: none; /* Kisebb képernyőn elrejtve */
        flex-direction: column;
        width: 100%;
    }

    .topline {
        display: none;
    }

    .nav-menu.open {
        display: flex; /* Megjelenítve a menü gomb megnyomásával */
    }

    .topline.set {
        display: flex;
    }

    .navbutton {
        margin: 10px 0;
    }

    .header {
        padding-block: 10px;
    }

    /* more */

    .button-con2 {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
}